name: Build OpenWrt AC2100 and MIR3G

on:
  schedule:
    - cron: "3 19 * * *"
  push:
    branches:
      - master

env:
  #RELEASE: "24.10.0"
  BOARD: "ramips"
  SUBTARGET: "mt7621"
  PROFILE1: "xiaomi_redmi-router-ac2100"
  PROFILE2: "xiaomi_mi-router-3g"
  PACKAGES_TYPE1: "luci-app-yggdrasil yggdrasil luci wpad-mesh-wolfssl iperf3 mtr iwinfo kmod-tcp-bbr kmod-mtd-rw libustream-wolfssl ca-bundle -luci-proto-ppp -ppp -ppp-mod-pppoe -kmod-pppox -kmod-pppoe -kmod-ppp -wpad-basic-wolfssl"
  PACKAGES_TYPE2: "frps luci-app-frps luci-app-ttyd ttyd luci-app-shadowsocks-libev shadowsocks-libev-ss-server luci wpad-mesh-wolfssl iperf3 iwinfo kmod-tcp-bbr kmod-mtd-rw libustream-wolfssl ca-bundle -odhcpd-ipv6only -dnsmasq -luci-proto-ppp -ppp -ppp-mod-pppoe -kmod-pppox -kmod-pppoe -kmod-ppp -wpad-basic-wolfssl"
  PACKAGES_TYPE3: "luci wpad-mesh-wolfssl iperf3 iwinfo kmod-tcp-bbr kmod-mtd-rw libustream-wolfssl ca-bundle -odhcpd-ipv6only -dnsmasq -luci-proto-ppp -ppp -ppp-mod-pppoe -kmod-pppox -kmod-pppoe -kmod-ppp -wpad-basic-wolfssl"

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo mkdir -p /mnt/workdir
        sudo chown $USER:$GROUPS /mnt/workdir

    - name: Download imagebuilder
      working-directory: /mnt/workdir
      run: |
        curl -O "https://downloads.openwrt.org/snapshots/targets/${{ env.BOARD }}/${{ env.SUBTARGET }}/openwrt-imagebuilder-${{ env.BOARD }}-${{ env.SUBTARGET }}.Linux-x86_64.tar.zst"
        tar --use-compress-program=unzstd -xf openwrt-imagebuilder-${{ env.BOARD }}-${{ env.SUBTARGET }}.Linux-x86_64.tar.zst
        ln -sf /mnt/workdir/openwrt-imagebuilder-${{ env.BOARD }}-${{ env.SUBTARGET }}.Linux-x86_64 $GITHUB_WORKSPACE/openwrt
 
    - name: Download version info
      run: |
        curl -O "https://downloads.openwrt.org/snapshots/targets/${{ env.BOARD }}/${{ env.SUBTARGET }}/version.buildinfo"
        echo "OPENWRT_VERSION=${{ env.RELEASE }}" >> $GITHUB_ENV
        
    - name: Build the image for redmi AC2100 of type 3
      id: ac2100type3
      run: |
        cd openwrt
        make image PROFILE="${{ env.PROFILE1 }}" PACKAGES="${{ env.PACKAGES_TYPE3 }}"
        mv bin/targets/${{ env.BOARD }}/${{ env.SUBTARGET }}/openwrt-ramips-mt7621-xiaomi_redmi-router-ac2100-squashfs-sysupgrade.bin openwrt-ramips-mt7621-xiaomi_redmi-router-ac2100-squashfs-sysupgrade-type3.bin

    - name: Build the image for Mi 3G  type 3
      id: mir3gtype3
      run: |
        cd openwrt
        make image PROFILE="${{ env.PROFILE2 }}" PACKAGES="${{ env.PACKAGES_TYPE3 }}"
        mv bin/targets/${{ env.BOARD }}/${{ env.SUBTARGET }}/openwrt-ramips-mt7621-${{ env.PROFILE2 }}-squashfs-sysupgrade.bin openwrt-ramips-mt7621-${{ env.PROFILE2 }}-squashfs-sysupgrade-type3.bin
      
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.OPENWRT_VERSION }}
        release_name: OpenWrt ${{ env.OPENWRT_VERSION }}
        body: |
          This release is based on OpenWrt snapshot ${{ env.OPENWRT_VERSION }}.
          
          Type3 is built with these packages: "${{ env.PACKAGES_TYPE3 }}"
          
        draft: false
        prerelease: false

    - name: Upload AC2100type3 Asset
      id: upload-release-asset-ac2100type3
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
        asset_path: openwrt/openwrt-ramips-mt7621-${{ env.PROFILE1 }}-squashfs-sysupgrade-type3.bin
        asset_name: openwrt-ramips-mt7621-${{ env.PROFILE1 }}-squashfs-sysupgrade-type3.bin
        asset_content_type: application/bin
        
    - name: Upload MIR3Gtype3 Asset
      id: upload-release-asset-mir3gtype3
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
        asset_path: openwrt/openwrt-ramips-mt7621-${{ env.PROFILE2 }}-squashfs-sysupgrade-type3.bin
        asset_name: openwrt-ramips-mt7621-${{ env.PROFILE2 }}-squashfs-sysupgrade-type3.bin
        asset_content_type: application/bin
